.blogs {
    width: 75%;
    margin: 0 auto 30px;

    .g-3 {
        margin-bottom: 50px;
    }

    &-search {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        
        &-item {
            width: 20%;
        }
    }

    &-pagination {
        display: flex;
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
        border-top: 2px solid #e1bb23;
        justify-content: space-between;

        &-num {
            width: 50px;
            text-align: center;
            padding: 10px 10px;
            border-radius: 100%;
            border: 1px solid #d8c4c4c4;
            box-shadow: 5px 5px 5px #615a5a;
            cursor: pointer;
        }

        &-num.current-page {
            cursor: auto;
            pointer-events: none;
        }

        &-num:hover {
            color: #2d59e8;
            text-decoration: underline;
        }

        .current-page {
            font-weight: 700;
            background-color: #e9dfdf;
        }
    }

}